@{
    ViewData["Title"] = "Productos";
}
@model IEnumerable<Inventario.Models.Producto>
<h1>Productos</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Producto</th>
            <th scope="col">Año</th>
            <th scope="col">Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <th scope="row">@producto.Id</th>
                <td>@producto.Nombre</td>
                <td>@producto.Año</td>
                <td>@producto.Precio</td> 
            </tr>
        }
    </tbody>
</table>
